body{
	margin: 0px;
	padding: 0px;
	background-color: #171717;
	margin-top: 200px;
}

.header{
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.8s;
	z-index: 1000;
}

.LOGO{
	transition: 0.2s ease-in-out;
}

.LOGO:hover{
	transition: 0.2s ease-in-out;
	transform: scale(1.08);
	cursor: pointer;
}

.types{
	font-size: 25px;
	font-family: "Advent Pro", serif;
}

.nazad{
	transition: 0.5s ease-in-out;
	border-radius: 0px;
	padding-bottom: 2px;
}

.nazad:hover{
	transition: 0.5s ease-in-out;
	border-bottom: 1px solid sandybrown;
}

.type1{
	transition: 0.5s ease-in-out;
	border-radius: 0px;
	padding-bottom: 2px;
}

.type1:hover{
	transition: 0.5s ease-in-out;
	border-bottom: 1px solid sandybrown;
}

.type2{
	transition: 0.5s ease-in-out;
	border-radius: 0px;
	padding-bottom: 2px;
}

.type2:hover{
	transition: 0.5s ease-in-out;
	border-bottom: 1px solid sandybrown;
}

.plashka{
	background-color: white;
	height: auto;
	border-top-left-radius: 75px;
	border-bottom-right-radius: 50px;
}

.pushkaimg{
	margin-left: -12px;
}

.plashka h1{
	font-family: "Yeseva One", serif;
	font-size: 46px;
}

.plashka h3{
	font-family: "Yeseva One", serif;
	font-size: 33px;
}

.plashka p{
	font-family: "Exo-2", serif;
	font-size: 20px;
}

.col-knigi img{
	transition: 0.2s ease-in-out;
	box-shadow: 0 0 5px black, 0 0 25px black;
	border: 2px solid black;
}

.col-knigi img:hover{
	transition: 0.2s ease-in-out;
	transform: scale(1.1);
	box-shadow: 0 0 30px black, 0 0 50px black;
}


.foot{
	margin-top: 180px;
	height: 130px;
	background-color: #25292D;
}

.tg{
	float: right;
	margin-right: -10px;
	transition: 0.2s ease-in-out;
}

.tg:hover{
	transition: 0.2s ease-in-out;
	transform: scale(1.2);
}

.vk{
	margin-left: -10px;
	transition: 0.2s ease-in-out;
}

.vk:hover{
	transition: 0.2s ease-in-out;
	transform: scale(1.2);
}

.foot h5{
	color: gray;
	font-family: "Exo 2", serif;
}


.sohr{
	border: 1px solid black;
	color: black;
	font-size: 20px;
	background-color: #D38E48;
	font-family: "Advent Pro", serif;
	margin-bottom: -12px;
}

.sohr:hover{
	border: 1px solid black;
	color: black;
	background-color: #E89E54;
}

.modal-body p{
	font-size: 25px;
	font-family: "Advent Pro", serif;
}

.modal-content{
	border: 3px solid #D38E48;
}

.dropdown-text{
	font-size: 22px;
}